@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: #bc2b35;
  margin: 50px;
}
.headerBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.headerRightBox {
  width: 80px;
  height: 40px;
  display: flex;
}
.tomatologo {
  width: 150px;
  height: 40px;
}
.LeftBoxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 40px;
  border-left: beige 1px solid;
  box-sizing: border-box;
  margin-left: 12px;
  color: rgb(250, 249, 177);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.headerLeftBox {
  display: flex;
}
.menuLogo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
