.backGroundLeft {
  width: 550px;
  height: 65%;
  background-color: #c72f39;
  position: fixed;
  left: -300px;
  top: 25%;
  border-radius: 50% !important;
}
.backGroundRight {
  width: 550px;
  height: 65%;
  background-color: #c72f39;
  position: fixed;
  right: -300px;
  top: 25%;
  border-radius: 50% !important;
  transition: all 0.8s;
}
.backGroundChangeRight {
  width: 830px;
  height: 95%;
  background-color: #c72f39;
  position: fixed;
  right: -300px;
  top: 2%;
  border-radius: 50% 10% 10% 50%;
  z-index: 0;
  transition: all 0.8s;
}
.menuBox {
  width: 350px;
  height: 550px;
  background-color: #c72f39;
  border-radius: 20px;
  overflow: hidden;
}
.menuBoxChangeOn {
  position: fixed;
  top: 21%;
  right: 2%;
  transition: all 0.8s;
}
.menuBoxChangeOff {
  position: fixed;
  top: 21%;
  right: -50%;
  transition: all 0.8s;
}
.menuTitleBox {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgb(234, 245, 137);
  border-radius: 18px;
  padding: 0 15px;
  position: relative;
  border: 0;
  outline: none;
}
.menuMainBox {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  height: 450px;
  background-color: #bc2b35;
  border-radius: 18px;
  overflow: hidden;
}
.menuMainTop {
  width: 100%;
  height: 30px;
  background-color: #d44852;
}
.menuMainProject {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 30px;
}
.menuMainimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.menuMainimg > img {
  padding-top: 7px;
  width: 30px;
  height: 30px;
}
.menuMainText {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  color: white;
  padding-top: 5px;
  font-size: 28px;
  letter-spacing: 1px;
  border-bottom: 1px dashed white;
}
.dataImg {
  width: 377px;
  height: 450px;
}
.dataImgChangeOn {
  position: fixed;
  top: 21%;
  right: 2%;
  transition: all 0.8s;
}
.dataImgChangeOff {
  position: fixed;
  top: 21%;
  right: -50%;
  transition: all 0.8s;
}
.timeBox {
  width: 380px;
  height: 400px;
  background-color: rgb(134, 138, 136);
}
.timeBoxTitle {
  display: flex;
  width: 100%;
  height: 12%;
  color: black;
  font-size: 35px;
}
.timeBoxMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  border-bottom: 1px white dashed;
  background-color: aquamarine;
  font-size: 25px;
  padding: 0 20px 0 25px;
}
